body {
	background: url(../images/bg.jpg) no-repeat fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 50%;
	background-color: #162252;
    width: 100%;
	font-family: 'Noto Sans SC', sans-serif ;
	text-align: center;
	text-shadow: 2px 2px #2B3E42;
}

h1 {
	color: white;
	font-size: 45px;
	font-weight: normal;
	margin-top: 750;
	margin-bottom: 0;
}
h2 {
	color: #D5E1DD;
	font-size: 20px;
	margin-top: 0;
}
.bio {
	color: #BCE5E3;
	font-size: 16px;

}
.me {
	height: 465px;
	width: 425px;
	border-radius: 60%;
	border-style: solid;
	border-color: white;
	margin-top: 175px;
}
.about {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
